<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{title}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <app-list title ="Lista de personas" [list]="list"></app-list>
        <app-list title ="Lista dentro del Html" [list]="['Pedrito']"></app-list>
        <app-list [title] ="tituloLista" [list]=""></app-list>
    </div>
</ion-content>
